 body { 
   color: #3b3f49;
   background: #fdfaeb;
   margin:10px;
   font-family: "Protest Strike", sans-serif;
  }
  

 header { 
  border-bottom: solid 3px #f7a29e;
  color: #f7a29e;
  padding: 1px;
  font-size: 25;
  font-family: fantasy;
}

.chamada { 
    padding-bottom: 20px;
    padding-top: 20px;
    background: #faeddf;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.chamada-texto { 
margin-right: 10px;
}

h1 { 
    font-size: 50;
    padding: 5px;
    font-family: initial;
}

p { 
    padding-top: 0px;
    font-size: 20;
    font-family: "Josefin Sans", sans-serif;
}

img {
   height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img { 
    opacity: 0,5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 0.5;
}

.categoria h2 {
    color: #f7a29e
}



